body{
    background-color: gray;
}

h1{
    
    text-align: center;
}
#num1{
    width: 100%;
    margin-bottom: 20px;
    
}
#selecao{
    width: 100%;
    margin-bottom: 20px;
}
#num2{
    width: 100%;
    margin-bottom: 15px;
}
.borda{
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 20px;
}
.hr1{
    margin-bottom: 30px;
}

.hr2{
    margin-bottom: 35px;
    }

hr{
    border-color: black;
}